.container {
  width: 100%;
  max-width: 1024px;
  margin: 40px auto 0 auto;
  padding: 0 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main {
  width: 100%;
}

.main h1 {
  margin-bottom: 14px;
}

.task {
  border: 1.5px solid #909090;
  padding: 14px;
  line-height: 150%;
  border-radius: var(--border-radius);
  display: flex;
  align-items: center;
  justify-content: center;
}

.task p {
  white-space: pre-wrap;
  width: 100%;
}

.commentsContainer {
  width: 100%;
  margin: 18px 0;
  max-width: 1024px;
}

.commentsContainer h2 {
  margin: 14px 0;
}

.buttonComment{
  width: 100%;
  padding: 12px 0;
  margin-top: 10px;
  border-radius: var(--border-radius);
  border: 0;
  color: var(--text-color-primary);
  background-color: var(--button-color);
  font-size: 1.125rem;
  cursor: pointer;
}

.buttonComment:disabled {
  cursor: not-allowed;
  background-color: rgba(49, 131, 255, 0.600);
}

.comment {
  border: 1px solid #DDD;
  border-radius: var(--border-radius);
  padding: 14px;
  margin-bottom: 14px;
}

.comment p {
  white-space: pre-wrap;
  margin-top: 14px;
}

.headComment {
  display: flex;
  align-items: center;
}

.commentsLabel {
  background-color: #CCC;
  padding: 4px 8px;
  margin-right: 8px;
  border-radius: var(--border-radius);
}

.buttonTrash {
  border: 0;
  background: transparent;
  cursor: pointer;
}

.buttonEdit {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px; 
}



.buttonCancel {
  width: 100%;
  border: 0;
  border-radius: 4px;
  color: var(--text-color-primary);
  background-color: var(--highlight-color);
  padding: 12px 0;
  font-size: 1.125rem;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, opacity 0.3s ease; 
  opacity: 1;
}

.buttonCancel:hover {
  background-color: var(--cancel-button-color); 
  color: var(--text-color-primary); 
  opacity: 0.8;
}

.iconButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin-right: 8px;
}

.iconButton:hover {
  opacity: 0.7;
}
